/* ======= Base ======= */
body {
  font-family: "arial", sans-serif;
  color: $text-color-secondary;
  background: $smoky-white;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  width: 95%;
  border-top: 1px solid #ddd;
}

blockquote {
  padding: 5px 20px;
  font-size: 15px;
  color: #aaa;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: darken($theme-color, 15%);
  &:hover {
    text-decoration: underline;
    color: darken($theme-color, 30%);
  }
  &:focus {
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
//   background: $theme-color;
  background: white;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.sidebar-wrapper {
  grid-column: span 3;
  order: 0;
//   background: $theme-color;
  color: black;
  a {
    color: #005180;
    font-size: 17px;
  }
  li {
    line-height: 10px;
  }
  .profile-container {
    padding: 20px 10px 0px 20px;
    background: hwb(212deg 1% 37% / 20%);
    text-align: right;
    height: 510px;
  }
  .name {
    font-size: 40px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
    color: #005180;
  }
  .tagline {
    font-size: 24px;
    line-height: 0px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  .under_position {
    font-size: 14px;
  }
  .profile {
    margin-bottom: 15px;
  }

  .avatar {
    //used for profile image
    max-width: 300px;
    margin-bottom: 15px;
    border: 0px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 10%);
  }
  .contact-list {
    .fas,
    .fab,
    .far {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle;
    }
    li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .container-block {
    background: hwb(212deg 1% 37% / 5%);
    padding: 10px 10px 10px 30px;
    margin: 20px 0px 0px 0px;
  }
  .container-block-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .degree {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .education-container {
    .item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .meta {
      font-size: 16px;
      color: rgba(0, 0, 0, 60%);
      font-weight: 500;
      margin-bottom: 0px;
      margin-top: 0;
    }
    .time {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
    }
  }
  .languages-container {
    .lang-desc {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .languages-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .interests-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.main-wrapper {
  grid-column: span 7;
  background: #fff;
  padding: 120px 30px 60px 30px;
  font-size: 17px;
  .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: darken($theme-color, 15%);
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    background: rgb(111, 141, 179);
    margin-right: 35%;
    border-radius: 50px;

  }
  .section {
    margin-bottom: 60px;
  }

  .experiences-section,
  .educations-section {
    .item {
      margin-bottom: 30px;
    }
  }
  .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
  }
  .meta {
    display: flex;
    justify-content: space-between;
  }
  .company-img {
    height: 40px;
  }
  .expeience-header {
    width: 75%;
  }
  .job-title,
  .degree {
    color: #3F4650;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }
  .time {
    position: absolute;
    right: 0;
    top: 0;
    color: $text-grey;
  }
  .company,
  .university {
    margin-bottom: 10px;
    color: $text-grey;
  }

  .project-title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    color: #1d4356;
    background: rgb(205, 219, 236);
    padding: 3px;
  }
  .projects-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }
  .project-sub {
    justify-content: space-between;
    display: flex;
    margin-bottom: 10px;
    color: #97AAC3;
    text-align: right;
    
    .project-position {
      text-align: left;
      background: rgba(205, 219, 236, 35%);
      padding: 3px;
    }
  }

  .publication-title {
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 1px;
  }
  .publication-authors {
    font-style: italic;
    color: $text-grey;
    margin-bottom: 1px;
  }
  .publications-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }
}

.skillset {
  @media (min-width: 764px) {
    column-count: 2;    
  }
  column-count: 1;
  column-rule: 1px solid #ddd;
  
  .skillset-div {
    padding: 0 10px 0 10px;
    margin: 0 0 20px 0;
    white-space: normal;
    .skillset-title {
      margin-top: 0;
      font-size: 20px;
    }
  }
  .item {
    margin-bottom: 15px;
    overflow: hidden;
  }
  .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .level-bar {
    height: 12px;
    background: $smoky-white;
  }
  .level-bar-inner {
    height: 12px;
    background: lighten($theme-color, 15%);
  }
  .skill-box {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 20px 5px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;

    .skill-img {
      width: 75px;
      height: 75px;
    }
    .skill-name {
      display: none;
    }
  }
}



.skill-name {
  display: inline-block;
  border: 1px solid #545E6C;
  border-radius: 1em;
  padding: 0 10px 0 10px;
  line-height: 24px;
  font-size: 15px;
  margin: 0 1px;
  margin-bottom: 6px;
}

.footer {
  padding-top: 30px;
  .copyright {
    line-height: 1.6;
    color: $text-color-secondary;
    font-size: 13px;
  }

  .fa-heart {
    color: $heart;
  }
}
