@media print {
  @page {
    size: A4;
  }
  body {
    font-size: 12pt;
  }

  img.avatar {
    //         filter: grayscale(1);
    //         -webkit-filter: greyscale(1);
  }
  
  img.company-img {
    display: none;
  }
  .main-wrapper .time {
    float: right;
    color: black !important;
    -webkit-print-color-adjust: exact;
  }
  .main-wrapper {
    padding-right: 20px !important;
  }
  .sidebar-wrapper {
    position: static;
    float: right;
    //       width: 35%;
    width: 30%;
    line-height: 1;
    -webkit-print-color-adjust: exact;
    //       border: solid 0.5px;
    //       border-radius: 30px;
    //       margin-left: 20px;
    //         border-left: solid;
    //         background: #D3D3D3 !important;

    .profile-container {
      padding-bottom: 40px;
    }
    a[href]:after {
      display: none;
    }
//     .tagline {
//     }
  }

  .sidebar-wrapper .name {
    font-size: 28px;
  }

  .sidebar-wrapper li {
    line-height: 20px;
  }
  .remove-container.container-block {
    //        display: none;
    padding: 40px 10px 10px 30px;
  }

  footer {
    display: none;
  }

  .skillset .level-bar-inner {
    //        background-color: black !important;
    -webkit-print-color-adjust: exact;
  }

  .skillset {
    column-count: 2;
    column-rule: 1px solid #ddd;
  }

  .fa-inverse,
  .fa-inverse:after,
  .fa-inverse:before {
    color: #ffffff !important;
  }
}
